/* Text */

html {
    background: #1A1A1A;
    font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.centered {
    text-align: center;
}

.link {
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Layout */

.header {
    background: black;
    text-align: center;
}

.header .tab {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.header .tab:hover {
    background: red;
    cursor: pointer;
}

.header .tab.selected {
    color: red;
}

.header .tab.selected:hover {
    color: black;
}

.header .tab img {
    display: inline-block;
    margin-top: 12px;
    height: 24px;
    vertical-align: top;
}

.app {
    text-align: center;
}

.sidebar, .page {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.page {
    padding: 20px 10px;
    max-width: 780px;
    text-align: left;
}

.page .content {
    background: white;
    padding: 20px;
}

.footer {
    margin-bottom: 20px;
}

.footer, .footer a {
    color: white !important;
}

.sidebar {
    width: 50px;
    padding: 20px 10px;
}

.sidebar .timer {
    text-align: center;
    color: red;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sidebar .clues {
    font-size: 0;
}

.clue {
    font-size: 18px;
    border: 2px dashed gray;
    color: gray;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 23px;
    text-align: center;
    margin: 10px 0;
}

.clue span {
    display: none;
}

.clue.unlocked {
    border: 2px dashed green;
    color: green;
    cursor: pointer;
    overflow: visible;
}

.clue.unlocked:hover {
    border: 2px solid green;
    background: green;
    color: white;
}

.clue:hover span {
    position: relative;
    top: -46px;
    display: inline-block;
    text-align: center;
    margin-left: 60px;
    padding: 0 10px;
    z-index: 1;
    background: gray;
    color: white;
}

.clue.unlocked:hover span {
    background: green;
    color: white;
}

.sidebar .mission {
    border: 2px dashed purple;
    color: purple;
}

.sidebar .mission:hover {
    border: 2px solid purple;
    background: purple;
    color: white;
}

.sidebar .mission:hover span {
    background: purple;
}

.sidebar .hints {
    border: 2px dashed blue;
    color: blue;
}

.sidebar .hints:hover {
    border: 2px solid blue;
    background: blue;
    color: white;
}

.sidebar .hints:hover span {
    background: blue;
}

@media screen and (max-width: 930px) {
    
    .sidebar, .page {
        display: block;
    }
    
    .sidebar {
        width: auto;
    }

    .sidebar .clue {
        display: inline-block;
        position: relative;
        margin: 5px;
    }
    
    .sidebar .timer {
        font-size: 28px;
    }

    .sidebar .clue.unlocked:hover span {
        position: absolute;
        top: 0;
        left: 5px;
    }
    
}

/* Utilities */

.hidden {
    display: none !important;
}

.show-mobile {
    display: none;
}

@media screen and (max-width: 640px) {

    .show-mobile {
        display: block;
    }

}

/* Forms */

.content .form {
    margin: 10px;
}

.secure-form {
    width: 320px;
    margin: 0 auto;
}

.decision-form {
    width: 470px;
    margin: 0 auto;
}

.form input, .form button, .form select, .form textarea, .button {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    padding: 10px;
}

.form input {
    letter-spacing: 2px;
}

.secure-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 210px;
}

.long-input {
    width: 300px;
}

.form button {
    background: black;
    color: white;
}

.form .button.secondary {
    background: white;
    color: black;
}

.form button:hover {
    cursor: pointer;
    background: blue;
}

.message.success {
    color: green;
}

.message.failure {
    color: red;
}

.button {
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.button.primary {
    background: black;
    color: white;
}

.button:hover {
    background: blue;
    color: white;
    cursor: pointer;
}

.button.hidden {
    display: none;
}

.form select {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 200px;
    margin: 10px 0;
    padding: 10px;
    color: black;
}

.long-select {
    width: 100% !important;
}

.form textarea {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    width: 450px;
    min-width: 450px;
    max-width: 450px;
    min-height: 80px;
}

@media screen and (max-width: 500px) {

    .decision-form {
        width: auto !important;
    }

    .form select, .form textarea {
        min-width: 100% !important;
        width: 100%;
        max-width: 100% !important;
    }

}

/* Content */

.content img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content strong {
    font-weight: bold;
}

.content hr {
    margin: 10px;
}

.content table {
    text-align: left;
    margin: 10px;
}

.content table th {
    font-weight: bold;
}

.content table td, .content table th {
    padding: 10px;
    border: 1px dashed black;
}

.content ul, ol {
    margin: 10px;
}

.content .nonlist {
    list-style-type: none;
}

.content ul {
    list-style-type: disc;
}

.content ol {
    list-style-type: decimal;
}

.content li {
    margin: 10px 0;
}

.content ul li, .content ol li {
    margin-left: 1.5em;
}

.content .nonlist li {
    margin-left: 10px;
}

.content ul ul {
    margin: 10px 20px;
}

.folder, .file, .email {
    font-size: 18px;
    line-height: 20px;
}

.banner {
    background: green;
    color: white;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
}

/* Clues */

.sticky {
    float: right;
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-top: -160px;
    padding: 20px;
    background: yellow;
    opacity: 0.75;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);  
    -webkit-transform: rotate(-15deg);  
    -o-transform: rotate(-15deg);  
    -ms-transform: rotate(-15deg);
}

.sticky:hover {
    opacity: 1.0;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.email-holder {
    padding: 10px;
    margin: 10px 0 !important;
}

.email-holder:hover {
    background: rgba(0, 255, 255, 0.2);
}

.email-time {
    float: right;
}

/* Lobby */

#game-link {
    background: lightgray;
    padding: 10px;
}

.landing-image {
    margin: 0 auto;
    width: 250px;
}

/* Movement Layer */

.replay-player {
    width: 500px;
    height: 500px;
    display: block;
    margin: 20px auto !important;
}

@media screen and (max-width: 640px) {

    .replay-player {
        width: 300px;
        height: 300px;
    }

}

.replay-toggle {
    margin: 20px 0;
    cursor: pointer;
}

.replay-toggle .icon-up, .replay-toggle .icon-down {
    float: right;
}

.replay-toggle.closed + .replay-drawer {
    display: none;
}

.replay-toggle.closed .icon-up {
    display: none;
}

.replay-toggle.open .icon-down {
    display: none;
}

/* Intro */

.video-player {
    margin: 10px;
}

@media screen and (max-width: 640px) {

    .video-player {
        width: 95%;
        height: 300px;
    }

}

.mission-row .mission-preview {
    display: inline-block;
}

.mission-row .mission-accept {
    display: inline-block;
    vertical-align: top;
    padding: 15px 10px;
    width: 80px;
}

.mission-row .mission-accept.accepted {
    background: orange;
}

.mission-row .mission-accept.locked {
    background: gray;
}

.mission-preview .players {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    font-weight: normal;
}

.pro-tip {
    border: 2px dashed blue;
    color: blue;
    padding: 10px;
}

.pro-tip.success {
    border: 2px dashed green;
    color: green;
    padding: 10px;
}

span#mission-reminder {
    position: relative;
    display: inline-block;
    background: purple;
    color: white;
    top: -46px;
    margin-left: 60px;
    padding: 10px;
    line-height: 18px;
    width: 140px;
    text-align: left;
}

span#mission-reminder.hidden {
    display: none;
}

/* Cover */

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    z-index: 2;
}

.cover .popup {
    background: white;
    padding: 20px;
    width: 280px;
    margin: 50px auto;
    cursor: default;
    z-index: 4;
}

.cover .popup p {
    text-align: left;
}

.cover .popup .close {
    float: right;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: gray;
}

.cover .popup .close:hover {
    cursor: pointer;
}

/* Discussion */

#mission-text {
    border: 2px dashed green;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 22px;
}

#results-clues {
    padding: 5px 10px;
}

#results-clues .clue-status {
    display: inline-block;
    vertical-align: middle;
}

#results-clues .clue-status span {
    display: block;
}

#results-clues .clue {
    border: 2px dashed black;
    color: black;
    opacity: 0.5;
    display: inline-block;
    margin: 10px 0;
}

#results-clues .clue.unlocked {
    border: 2px dashed green;
    color: green;
    opacity: 1.0;
}

#results-clues .clue.unlocked:hover {
    color: white;
}

@media screen and (min-width: 640px) {

    .row-half {
        vertical-align: top;
        display: inline-block;
        width: 49%;
    }

}

.mission-vote-row {
    text-align: center;
}

.mission-vote-row .mission-vote-cell {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

.mission-vote-cell:nth-child(1) {
    width: 70%;
}

.mission-vote-row select {
    width: auto !important;
    margin: 10px 20px;
}

@media screen and (max-width: 640px) {

    .mission-vote-cell:nth-child(1) {
        width: 100%;
    }

}

/* Tables */

.table-holder {
    width: 100%;
    overflow-x: scroll;
}

/* Training Data */

.box-label {
    text-align: center;
    vertical-align: middle;
}

.box-label div {
    display: inline-block;
}

.box-label .box-letter {
    border: 3px solid rgb(0, 255, 0);
    padding: 0 10px;
    margin: 10px;
}

.box-label .box-letter p {
    font-size: 20px;
    font-weight: bold;
}

.box-label.is-face .button:nth-child(1), .box-label.not-face .button:nth-child(2) {
    background: black;
    color: white;
}

/* Hints */

.hint-text {
    border: 2px dashed blue;
    padding: 20px;
}

/* Tracker */

.tracker {
    background: white;
    width: 120px;
    display: inline-block;
    position: relative;
    margin: 20px auto;
    padding: 20px 10px;
    text-align: left;
}

.tracker strong {
    font-weight:  bold;
}

.tracker .name {
    font-weight: bold;
}

.tracker .player-tracker.same-page {
    background: rgba(0, 255, 0, 0.5);
    padding: 5px;
}

@media screen and (max-width: 1050px) {

    .tracker {
        display: none;
    }

}
