<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Fight retail fraud with Panopticon Security.">
        <title>Panopticon Security</title>
        <link id="favicon" rel="icon" href="https://cdn.glitch.com/4520b2f3-4c55-4f09-802e-32d673d80432%2Flogo-white.png?v=1590295948241" type="image/png">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/css/reset.css">
        <link rel="stylesheet" href="./assets/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" defer></script>
        <script src="https://cdn.rawgit.com/beautify-web/js-beautify/v1.6.3/js/lib/beautify-html.js" defer></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-database.js"></script>
    </head>
    <body>
        <div class="header">
            <a href="./" class="tab"><img alt="Panopticon Security Logo" src="./assets/img/logo-white.png" /> Panopticon Security</a>
            <a href="./case" class="tab" data-tab="case"><i class="fa fa-briefcase"></i> Case</a>
            <a href="./data" class="tab" data-tab="data"><i class="fa fa-signal"></i> Data</a>
            <a href="./files" class="tab" data-tab="files"><i class="fa fa-folder-open"></i> Files</a>
            <a href="./email" class="tab" data-tab="email"><i class="fa fa-envelope"></i> Email</a>
            <a href="./decision" class="tab" data-tab="email"><i class="fa fa-gavel"></i> Decision</a>
        </div>
        <div class="app">
            <div class="sidebar">
                <div class="timer"></div>
                <div class="clues"></div>
            </div>
            <div class="page">
                <div class="content hidden" data-view="case">
                    <h1 class="uppercase">Case</h1>
                    <h2>Situation Briefing</h2>
                    <p>First things first, read the situation briefing.</p>
                    <a href="./document?c=briefing" class="button"><i class="fa fa-flag"></i> Open Briefing</a>
                    <hr>
                    <h2>Stolen Merchandise</h2>
                    <p>Below is the metadata about the affected merchandise, from the integrated case management system.</p>
                    <p>Showing items 1 through 1 out of 1.</p>
                    <ol>
                        <li>
                            <span><strong>Status:</strong> Stolen</span>
                            <ul>
                                <li><strong>Merchandise Name:</strong> Jersey | Philadelphia Eagles | Michael Vick | 7</li>
                                <li><strong>Retail Category</strong> Apparel</li>
                                <li><strong>Retail Subcategory</strong> Sporting Goods</li>
                                <li><strong>Merchandise ID:</strong> 313010719107</li>
                                <li><strong>Shelf Location:</strong> 4-11-BR-5</li>
                                <li><strong>Retail Price:</strong> $149.99</li>
                                <li><strong>Theft Window:</strong> 05/21/2025 4:00 - 6:00 PM</li>
                            </ul>
                        </li>
                    </ol>
                    <div class="sticky">Risk Layer Password: krichev</div>
                    <h2>Case Decision</h2>
                    <p>When you have determined your prime suspect, visit the decision tab to submit your choice and rationale to store management.</p>
                    <a href="./decision" class="button"><i class="fa fa-gavel"></i> Go to Decision Form</a>
                </div>
                <div class="content hidden" data-view="data">
                    <h1 class="uppercase">Data</h1>
                    <h2>Suspected Shoplifter Risk Rankings (SSRR)</h2>
                    <p>Panopticon Security's proprietary system helps stores combat retail fraud with state of the art analytics on shoplifting behavior.</p>
                    <h3>Risk Layer</h3>
                    <p>Ranks the most probable shoplifters, with rich metadata to support human investigators. In 99.7% of successful arrests, the culprit is found in the top ten predicted suspects!</p>
                    <a href="./secure?c=risk" class="button"><i class="fa fa-shopping-cart"></i> Open Risk Layer</a>
                    <h3>Movement Layer</h3>
                    <p>Extracts positioning data from CCTV footage to provide a trail of where shoppers moved during their session, including visits to restrooms and fitting rooms.</p>
                    <a href="./secure?c=movement" class="button"><i class="fa fa-male"></i> Open Movement Layer</a>
                    <h3>Attention Layer</h3>
                    <p>Integrates with eye-tracking sensors on store shelves to determine what merchandise shoppers looked at intently during their session. New from Panopticon Security!</p>
                    <a href="./secure?c=attention" class="button"><i class="fa fa-eye"></i> Open Attention Layer</a>
                    <hr>
                    <p><strong>Notice:</strong> Sharing data outside of this platform other than as part of sanctioned collaboration with law enforcement is a violation of corporate security policy.</p>
                </div>
                <div class="content hidden" data-view="files">
                    <h1 class="uppercase">Files</h1>
                    <p>Below are the files that have been shared to you through your corporate integration portal for the purpose of this investigation.</p>
                    <hr>
                    <ul class="file-system nonlist">
                        <li>
                            <span class="folder"><i class="fa fa-folder"></i> Security</span>
                            <ul class="nonlist">
                                <li><a href="./document?c=floorplan" class="file"><i class="fa fa-file-pdf-o"></i> floor_plan.pdf</a></li>
                                <li><a href="./document?c=policies" class="file"><i class="fa fa-file-pdf-o"></i> policy_review.pdf</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="folder"><i class="fa fa-folder"></i> Personal</span>
                            <ul class="nonlist">
                                <li><a href="./document?c=venn" class="file"><i class="fa fa-file-word-o"></i> venn_diagram.docx</a></li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <p><strong>Notice:</strong> Sharing files outside of this platform other than as part of sanctioned collaboration with law enforcement is a violation of corporate security policy.</p>
                </div>
                <div class="content hidden" data-view="email">
                    <h1 class="uppercase">Email</h1>
                    <p>Below are the emails that have been shared to you through your corporate integration portal for the purpose of this investigation.</p>
                    <hr>
                    <p id="banner-removal" class="banner hidden">New Email: "Removal Request" (unlock with access code: SPEED)</p>
                    <ul class="nonlist">
                        <li id="email-removal" class="hidden"><a href="./secure?c=removal" class="email"><i class="fa fa-lock"></i> Removal Request</a></li>
                        <li><a href="./document?c=observations" class="email"><i class="fa fa-envelope-o"></i> Security Observations</a></li>
                        <li><a href="./secure?c=vendor" class="email"><i class="fa fa-lock"></i> FWD: RE: Movement Layer Access Key</a></li>
                        <li><a href="./secure?c=offer" class="email"><i class="fa fa-lock"></i> FWD: Attention: The Attention Layer is Here! (Special Offer Enclosed)</a></li>
                    </ul>
                    <hr>
                    <p><strong>Notice:</strong> Sharing emails outside of this platform other than as part of sanctioned collaboration with law enforcement is a violation of corporate security policy.</p>
                </div>
                <div class="content hidden decision-form" data-view="decision">
                    <h1 class="uppercase">Decision</h1>
                    <p>When you have determined your prime suspect, submit your choice here with your rationale to inform store management.</p>
                    <div class="form">
                        <select>
                            <option value="None" selected>No Shopper Selected</option>
                            <option value="Shopper #1263">Shopper #1263</option>
                            <option value="Shopper #6871">Shopper #6871</option>
                            <option value="Shopper #6362">Shopper #6362</option>
                            <option value="Shopper #1943">Shopper #1943</option>
                            <option value="Shopper #2193">Shopper #2193</option>
                        </select>
                    </div>
                    <div class="form">
                        <textarea id="rationale" placeholder="Rationale for selected suspect."></textarea>
                    </div>
                    <div id="secret-form" class="hidden">
                        <p>To complete your submission, please provide additional recommendations for store management about our security system.</p>
                        <div class="form">
                            <textarea id="recommendations" placeholder="Recommendations for store security system."></textarea>
                        </div>
                    </div>
                    <p class="message"></p>
                    <div class="form">
                        <button>Submit</button>
                    </div>
                </div>
                <div class="content hidden secure-form" data-view="secure">
                    <h1 class="uppercase">Secure Access</h1>
                    <p>This content is under a protected access policy. Please enter the access code to retrieve it.</p>
                    <div class="form">
                        <input type="text" placeholder="access code" />
                        <button>Submit</button>
                    </div>
                    <p class="message"></p>
                </div>
                <div class="content hidden" data-view="viewer"></div>
                <div class="content hidden" data-view="error">
                    <h1 class="uppercase">Error</h1>
                    <p class="message"></p>
                </div>
            </div>
        </div>
        <script src="./assets/js/script.js" defer></script>
    </body>
</html>
