<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Fight retail fraud with Panopticon Security.">
        <title>Panopticon Security</title>
        <link id="favicon" rel="icon" href="https://ethicsescape.github.io/panopticon/assets/img/logo-white.png" type="image/png">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/reset.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-database.js"></script>
    </head>
    <body>
        <div class="header">
            <a href="../intro" class="tab"><img alt="Panopticon Security Logo" src="../assets/img/logo-white.png" /> Panopticon Security</a>
            <a href="../case/info" class="tab" data-tab="info"><i class="fa fa-briefcase"></i> Case</a>
            <a href="../case/data" class="tab" data-tab="data"><i class="fa fa-signal"></i> Data</a>
            <a href="../case/files" class="tab" data-tab="files"><i class="fa fa-folder-open"></i> Files</a>
            <a href="../case/email" class="tab" data-tab="email"><i class="fa fa-envelope"></i> Email</a>
            <a href="../case/decision" class="tab" data-tab="email"><i class="fa fa-gavel"></i> Decision</a>
        </div>
        <div class="app">
            <div class="sidebar">
                <div class="timer"></div>
                <div class="mission hidden">
                    <div class="clue unlocked">
                        <i class="fa"></i>
                        <span>mission</span>
                    </div>
                </div>
                <div class="clues"></div>
            </div>
            <div class="page">
                <div id="banner-removal" class="banner hidden">
                    <p>
                        <a href="./email">New Email</a>
                        <span> | "Removal Request" (access code: SPEED)</span>
                    </p>
                </div>
                {% if page.collection == 'document' %}
                <div class="content">
                    {{ content }}
                </div>
                {% else %}
                {{ content }}
                {% endif %}
            </div>
            <div class="cover hidden">
                <div class="popup" data-state="empty">
                    <h1 class="uppercase">
                        <i class="fa"></i>
                        <br>
                        <span></span>
                    </h1>
                    <p></p>
                </div>
            </div>
        </div>
        <script src="../assets/js/script.js" defer></script>
    </body>
</html>
