<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Virtual escape room about surveillance technology.">
        <meta property="og:image" content="https://ethicsescape.github.io/panopticon/assets/img/screenshot_clues.png">
        <title>Panopticon</title>
        <link id="favicon" rel="icon" href="https://ethicsescape.github.io/panopticon/assets/img/logo-white.png" type="image/png">

        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/reset.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-database.js"></script>
    </head>
    <body>
        <div class="header">
            <a href="../intro" class="tab"><img alt="Logo" src="../assets/img/logo-white.png" /> Panopticon</a>
            <a href="../case/info" class="tab" data-tab="info"><i class="fa fa-briefcase"></i> Case</a>
            <a href="../case/data" class="tab" data-tab="data"><i class="fa fa-signal"></i> Data</a>
            <a href="../case/files" class="tab" data-tab="files"><i class="fa fa-folder-open"></i> Files</a>
            <a href="../case/email" class="tab" data-tab="email"><i class="fa fa-envelope"></i> Email</a>
            <a href="../case/decision" class="tab" data-tab="email"><i class="fa fa-gavel"></i> Decision</a>
        </div>
        <div class="app">
            <div class="sidebar">
                <div class="timer"></div>
                <div class="clues">
                    <div class="clue unlocked mission hidden">
                        <i class="fa"></i>
                        <span id="mission-reminder" class="hidden">Before you do anything else, check out your secret mission!</span>
                        <span>mission</span>
                    </div>
                    <a href="../case/hints">
                        <div class="clue unlocked hints">
                            <i class="fa fa-life-ring"></i>
                            <span>hints</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="page">
                <div class="content secure-form" data-view="secure">
                    <h1 class="uppercase">Secure Access</h1>
                    {% if page.preview %}
                    <p><strong>Content: </strong>{{ page.preview }}</p>
                    {% endif %}
                    <p>This content is under a protected access policy. Please enter the access code to retrieve it.</p>
                    <div class="form">
                        <input type="text" class="secure-input" placeholder="access code" />
                        <button>Submit</button>
                    </div>
                    <p class="message"></p>
                </div>
            </div>
            <div id="clue-id" class="hidden">{{ page.slug }}</div>
            <div id="elephant" class="hidden">{{ page.password }}</div>
            <div id="viper" class="hidden">{{ page.document }}</div>
            <div class="cover hidden">
                <div class="popup" data-state="empty">
                    <span class="close">X</span>
                    <h1 class="uppercase">
                        <i data-role="icon" class="fa"></i>
                        <br>
                        <span data-role="name"></span>
                    </h1>
                    <p data-role="goal"></p>
                </div>
            </div>
        </div>
        <script src="../assets/js/script.js" defer></script>
    </body>
</html>